body {
  background-image: url("pinkcomp.jpg");
}



.whitebox{
    background-color: #fffcfce1; 

    border: 2px solid #ccc; 
    border-radius: 15px; 
    padding: 10px; 
    margin-top: 40px;


}

 h1{
    text-align: center; 
    color: black;
    opacity: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    
   
}

h2{
  text-align: center; 
    color: black;
    opacity: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 30px;
    font-style: light;
    
    

}

p{
  /* display: block; */
  background-color: rgba(240, 248, 255, 0.804);
  border-radius: 15px;
  padding: px;


}


.cards {
    background-color: rgba(240, 248, 255, 0.804);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    row-gap: 40px;
    margin: 40px;
}

.cards-content {
    margin: 40px;
}

