body {
  background-image: url("pinkcomp.jpg");
}



.whitebox{
    background-color: #fffcfc; 
    opacity: 70%;
    border: 2px solid #ccc; 
    border-radius: 15px; 
    padding: 20px; 
    margin-top: 40px;


}

.whitebox h1{
    text-align: center; 
    color: black;
    opacity: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    
   
}

