body {
  background-image: url("pinkcomp.jpg");
}

h1{
    text-align: center; 
    padding-top: 0px;
    color: black;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
}