body { 
    margin: auto;
    font-family: 'Montserrat', sans-serif;

    
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(251,178,63);
    background: radial-gradient(circle, rgba(251,178,63,1) 0%, rgba(200,70,252,1) 100%);
}



main {
    line-height: 1.5em;
}


img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    flex: 1;
    border: solid #141414 2px;
    border-radius: 10px;
}

header {
    display: grid;
    text-align: center;
    place-content: center;
}




.mobile {
    display: block;
}

.desktop {
    display: none;
}

.articles {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.cards {
    display: grid;
    row-gap: 40px;
    margin: 40px;
}

.cards-content {
    margin: 40px;
}

.content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    margin-top: 40px;
    margin-bottom: 50px;
}

nav {
    display: block;
    padding-top: 15px;
}



nav ul li a {
    display: block;
    background-color:rgba(63, 235, 224, 1);
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    color: black;
    list-style-type: none;
    text-decoration-line: none;
    font-weight: bold;
    justify-content: center;
    text-align: center;
   
}

nav ul li a:hover {
    background-color:white;
    color:rgba(112, 249, 153, 1);
    font-style: bold;
}

#sources {
    text-decoration-line: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sources li a {
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

#sources li a:hover {
    background-color:black;
    color: white;

}

span a {
    text-decoration-line: none;
    font-weight: bold;
    color:rgba(114, 69, 241, 1);
    border-left: rgba(114, 69, 241, 1) solid 5px;
    padding-left: 10px;
}

span a:hover {
    background-color:rgba(114, 69, 241, 1);
    color: #F9F5F5;
    padding: 8px;
    border-radius: 10px;
    
}

#home-button {
    background-color:rgba(63, 235, 224, 1);
    color: black;
}

#home-button:hover {
   
    background-color:rgba(112, 249, 153, 1);
    color:#ffffff
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
   font-size: 24px;
   
}

p {
    font-size: 17px;
}

time {
    font-size: 17px;
    font-weight: 200;
}


footer {
    background-color:rgba(237, 47, 47, 1);
    color:#F9F5F5;
    padding: 50px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#logo {
    margin: auto;
    text-align: left;
    flex: 1;
}

.contact {
    flex: 1;
    justify-content: flex-end;
}

#portal {
    color: white;
}

#email {
    color: white;
}


@media only screen and (min-width: 600px) {

    main {
        max-width: 1200px;
        margin: auto;
    }

    .articles {
        display: flex;
        gap: 10px;
    }

    .summary {
        flex: 66.66%;
    }
    
    article figure {
        flex: 33.33%;
        margin: auto;
        
    }

    #figure {
        margin-top: 20px;
        width: 75%;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    img {
        width: 50%;
    }

    #post3-images {
        display: flex;
        gap: 15px;
        flex-shrink: 2;
    }

    #post3-images img {
        flex: 1;
        width: 30%;
        margin-bottom: 15px;
        
    }

    nav {
        display: block;
        padding-top: 15px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 20px;
    
    }
    
    nav ul li a {
        flex: 1;
        display: block;
        background-color: rgba(63, 235, 224, 1);
        padding: 20px;
        border-radius: 8px;
        list-style-type: none;
        text-decoration-line: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    
    nav ul li a:hover {
        background-color:rgba(112, 249, 153, 1);
        color:#ffffff
    }

    #sources {
        display: flex;
        gap: 20px;
    }
    
    #sources li a {
        display: block;
        flex: 1;
    }

}
 