body {
  background-image: url("images/deskback.jpg");
    margin-right: 0;
   
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.journal{
  background-image: url("images/pinkcomp.jpg");
  border-radius: 20px;
  width: 800px;
  
  margin: auto;
  padding: 20px;
}

p{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

a, h3{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  
}





.whitebox{
    background-color: #fffcfce1; 

    border: 2px solid #ccc; 
    border-radius: 15px; 
    padding: 10px; 
    margin-top: 40px;


}

 h1{
    text-align: center; 
    color: black;
    opacity: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    
   
}

h2{
  text-align: center; 
    color: black;
    opacity: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 30px;
    font-style: light;
    
    

}

p{
  /* display: block; */
  background-color: rgba(240, 248, 255, 0.804);
  border-radius: 15px;
  padding: px;


}


.cards {
    background-color:rgba(240, 248, 255, 0.804);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    row-gap: 40px;
    margin: 40px;
}

.cards-content {
    margin: 40px;
}

