body {
    
    background-image: url(images/finalbackground.png);
  
    margin-right: 0;
   
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover;
    height: 100vh;
}
h1{
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: white;
  
  text-align: center;

}

h2{
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;

}

form {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: center;
  
  
} 
 #adjective{
  margin-right: 30px;
  
}

input[type="submit"],
button{
  color:black;
  background-color: white;
  border-radius: 25px;
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-weight: 400;
  font-style: normal;

}

.hidden {
  display: none;
}

main{
    background-color: rgb(155, 227, 255, 0.7);
    border-radius: 25px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    width: 25%;
    
}

.adjectiveInput, .nounInput, .foodInput, .placeInput, .scentInput {
    color: rgb(234, 117, 221);
}



