body {
    background-image: url('images/everypicbgb.png');
    background-size: cover;
   
    background-repeat: no-repeat;
}

main {
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #333;
  text-align: center;

  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  color: white;
  
  text-align: center;
}

p{
  font-family: "Quicksand", sans-serif;
  
  font-style: normal;
  font-size: 10px;
  color: #555;
  line-height: 1.6;
  max-width: 600px;
  margin: 20px auto;
}

h2{
  text-align: center;
  font-size: 15px;
  font-family: "Sour Gummy", sans-serif;
  
  font-style: normal;
}

.improvements{
    background-color: #fffcfce1; 

    
    border-radius: 15px; 
    padding: 10px; 
    margin-top: -300px;
    width: 500px;
    margin-left: 50% ;

}

/* general commented legacy styles removed for clarity */

/* Flip card styles (for .card1) */
.card1 {
  width: 200px;
  height: 300px;
  margin-top: 10%;
  margin-left: 12%;
  z-index: 1;
  position: relative;
  
  perspective: 1000px;

  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

.card2 {
  width: 200px;
  height: 300px;
  margin-top: -21%;
  margin-left: 29%;
  z-index: 1;
  position: relative;
  
  perspective: 1000px;

  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}




/* Apply scale when the JS toggles the "flipped" class */
.card1.flipped, .card2.flipped {
  transform: scale(2.0);
  z-index: 9999;
}
.image-container img{
  width:180px;
  height:120px;
  
} 

.card1 > .card-front,
.card1 > .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 8px;
  transition: transform 0.6s ease;

  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card2 > .card-front,
.card2 > .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 8px;
  transition: transform 0.6s ease;

  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.card1 > .card-front {
  transform: rotateY(0deg);
  background: url('images/sunny.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 > .card-front {
  transform: rotateY(0deg);
  background: url('images/arc.png');
  background-size: cover;
  background-repeat: no-repeat;
}



.card1 > .card-back {
  transform: rotateY(180deg);
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
}

.card2 > .card-back {
  transform: rotateY(180deg);
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
}



/* Flipped state: rotate faces, not the container */
.card1.flipped > .card-front {
  transform: rotateY(-180deg);
}

.card2.flipped > .card-front {
  transform: rotateY(-180deg);
}


.card1.flipped > .card-back {
  transform: rotateY(0deg);
}

.card2.flipped > .card-back {
  transform: rotateY(0deg);
}


/* Small adjustment for accessibility */
.card1:focus {
  outline: 2px dashed #333;
  outline-offset: 4px;
}

.card2:focus {
  outline: 2px dashed #333;
  outline-offset: 4px;
}

